layout {
    tab focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            pane size="70%" close_on_exit=true {
                command "bash"
                args "-ic" "nvim ."
            }
            pane focus=true close_on_exit=true size="30%" {
                command "bash"
                args "-i"
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
